body { 
  display: flex;
  flex-direction: column;
    background: rebeccapurple;
    color: black;
  }

.float-button {
  position: fixed;
  bottom: 20px;
 right: 20px;
    background-color: blue;
    color: rgb(175, 49, 49);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 350px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  
  .float-button:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }
